/* MIXINS */
/* Mixins sin parametros */
@mixin imgMainMix{
    grid-area: main;
    display: grid;
    background-image: url(../imagenes/1294177.jpg);
    background-position: center;
    background-size: cover;
}
@mixin contactMix{
    grid-area: section;
    background-image: url(../imagenes/darkFondo.jpg);
    margin: auto;
    border-radius: 4px;
    text-align: center;
}
@mixin imgArtMix{
    grid-area: article;
    display: grid;
    background-image: url(../imagenes/398715.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.contenedorTotalC{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.4fr 1fr 2fr 2fr 0.2fr;
    grid-template-areas: 
    "header header"
    "main main"
    "section section"
    "article article"
    "footer footer"
}
.imagenMain{
    @include imgMainMix;
    height: 300px;
}
.contactoSec{
    @include contactMix;
    width: 400px;
    height: 400px;
    padding: 30px;
}
.contactoSec h4{
    padding-bottom: 20px
}
.controles{
    width: 100%;
    background-color: black;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid;
    color: $colorLetras;
}
.boton2{
    width: 100%;
    background-color: rgb(165, 4, 4);
    border: none;
    padding: 12px;
    margin-top: 10px;
    color: $colorLetras;

}
.imagenArticle{
    @include imgArtMix;
    background-size:cover;
    height: 600px;
}
.footer{
    grid-area: footer;
}

/* Media queries */

@media screen and (max-width: 425px){

    .contenedorTotalC{
        display: grid;
        font-size: 15px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.7fr 0.3fr 1.8fr 0.1fr 0.1fr;
        grid-template-areas: 
        "header"
        "main"
        "section"
        "article"
        "footer"
    }
    .imagenMain{
        display: none;
    }
    .contactoSec{
        @include contactMix;
        width: 300px;
        height: 400px;
        padding: 20px;
    }
    .imagenArticle{
        @include imgArtMix;
        background-size:contain;
        height: 250px;
    }
    .footer{
        grid-area: footer;
    }
}